<!--<%@ taglib prefix="sec" uri="http://www.springframework.org/security/tags" %>-->

<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal"><a href="/index">Vending machines</a></h5>

        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="/products">Manage products</a>
                <a class="p-2 text-dark" href="#">Manage users</a>
                <a class="p-2 text-dark" href="#">Manage vending machines</a>
            </nav>
        </div>
        <form th:action="@{/logout}" method="post">
            <input class="btn btn-outline-primary" type="submit" value="Sign Out"/>
        </form>
    </div>
</div>
