<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Vending machines</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>

<div th:insert="element/header :: header"></div>

<div th:if="${isIndexPage}">
    <div th:insert="element/indexBody :: body"></div>
</div>


<div th:if="${isProductPage}">
    <div th:insert="element/product :: body"></div>
</div>

<div th:if="${isUserPage}">
    <div th:insert="element/userproducts :: body"></div>
</div>

<div th:if="${isSelectedVMPage}">
    <div th:insert="element/selectedvendingmachine :: body"></div>
</div>

<div th:if="${isVendingMachinePage}">
    <div th:insert="element/vendingmachine :: body"></div>
</div>

<div th:insert="element/footer :: footer"></div>


</body>
</html>
